* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    position: fixed;
    align-items: center;
    background-color: transparent;
    height: 3rem;
    width: 100%;
    

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul p {
    color: white;
    font-size: 1rem;
    margin-left: 2rem;
}

nav ul li {
    background-size: contain;
    align-items: center;
    margin-left: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
}Products nav ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    position: fixed;
    align-items: center;
    background-color: transparent;
    height: 3rem;
    width: 100%;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

Products nav ul p {
    color: white;
    font-size: 1rem;
    margin-left: 2rem;
}

Products nav ul li {
    background-size: contain;
    align-items: center;
    margin-left: 20px;
}

Products main section {
    display: flex;
    justify-content: space-between;
    
}